	<li>
		{{burger_name}}

	<button class = "change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}BURGER TIME{{else}}NEVER MIND{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>

	</li>